<!-- Home Page -->
<div class="container-lpage">
  <!-- Last Visit Alert Is Here -->
  <div class="d-flex justify-content-center pt-2">
    <% if(locals.lastVisit) { %>
    <div
      class="alert alert-primary w-75 fw-bold justify-content-center"
      role="alert"
    >
      You Last Visted Here On : <%= locals.lastVisit %>
    </div>
    <%}%>
  </div>
  <!-- Last Visit Alert Is Ends Here -->

  <div
    class="container-fluid main d-flex align-items-center justify-content-center bg-color-home flex-wrap-reverse"
  >
    <div class="left m-2 p-2">
      <h1 class="main-heading mb-4">A comprehensive platform for reliable</h1>
      <h2 class="white-text mb-4 h2-animation">
        Job opportunities and internships.
      </h2>
      <h5 class="white-text mb-3">Get Discovered. Get Hired.</h5>
      <span>
        <% if(!locals.userEmail) { %>
        <a href="/jobs"
          ><button type="button" class="btn btn-primary btn-lg">
            i'm a job seeker
          </button></a
        >
        <button
          type="button"
          class="btn btn-primary btn-lg m-2"
          data-bs-toggle="modal"
          data-bs-target="#register-modal"
        >
          i'm a job recruiter
        </button>
        <% } %>
      </span>
    </div>

    <div class="right">
      <img class="logo" src="/assets/logo.png" alt="Image"/>
    </div>
  </div>
  <!--  -->

  <!-- Register Modal Code -->
  <div class="modal fade" id="register-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Experience easily</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!--  -->
          <form action="/register" method="post">
            <div class="form-group mb-2">
              <label for="register-name">Name</label>
              <input
                type="text"
                class="form-control"
                id="register-name"
                name="name"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="form-group mb-2">
              <label for="register-email">Email</label>
              <input
                type="email"
                class="form-control"
                id="register-email"
                name="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="form-group mb-2">
              <label for="register-password">Password</label>
              <input
                type="password"
                class="form-control"
                id="register-password"
                name="password"
                placeholder="Enter your password"
                required
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block mt-4 custom-button"
            >
              Register
            </button>
          </form>
          <!-- -->
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <% if(!locals.userEmail){ %>
          <h6>
            Already registered?
            <button
              type="button"
              class="btn btn-outline-success ml-2"
              data-bs-toggle="modal"
              data-bs-target="#login-modal"
            >
              login
            </button>
          </h6>
          <% } %>
          <div id="social-icons">
            <i class="fa-brands fa-twitter twitter fs-4"></i>
            <i class="fa-brands fa-instagram instagram fs-4"></i>
            <i class="fa-brands fa-facebook facebook fs-4"></i>
            <i class="fa-brands fa-whatsapp whatsapp fs-4"></i>
            <i class="fa-brands fa-linkedin linkedin fs-4"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Register Modal Code -->

  <!-- Login Modal -->
  <% if(!locals.userEmail) { %>
  <div class="modal fade" id="login-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-success">Experience easily!</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="/login" method="post">
            <div class="mb-3">
              <label for="login-email" class="form-label custom-label"
                >Email</label
              >
              <input
                type="login-email"
                class="form-control"
                id="login-email"
                name="email"
                placeholder="enter the email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="login-password" class="form-label custom-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="login-password"
                name="password"
                placeholder="enter the password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary custom-button">
              Login
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <!-- Login Modal Ends Here -->
</div>
