/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Boilerplate */
*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}
/*  */

/* Home Page */
.container-lpage{
    background-color: #A58BDE;
    min-height: 100vh;
}

.main-heading{
    color:  #0E0D23;
    font-size: 2.5em;
    font-weight: bolder;
}

.white-text{
    color: white;
}
/*  */

/* Navbar Colour */
.navbar-color{
    background-color: #47336E !important;
    box-shadow: 0px 1px 10px rgb(149 157 165 / 20%);
}


/* Animation Of The Job Text*/
@keyframes textFade {
    0% {
      opacity: 0; /* Text is completely hidden */
    }
    50% {
      opacity: 1; /* Text becomes visible */
    }
    100% {
      opacity: 0; /* Text is completely hidden again */
    }
  }
  
.h2-animation {
    animation: textFade 3s infinite; 
  }

.i-color{
    color: #198754;
    margin-left: 5px;
}

.btn-bg-color{
    background-color: #0D2659 !important;
}

.bg-color-jobs{
    background-color: #0E0D23;
    min-height: 100vh;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

/* Job Card */
.jobs-card{
    min-width: 320px;
    max-height: 468px;
    min-height: 468px;
}

.bg-color-home{
    background-color: #A58BDE;
    /* min-height: 100vh; */
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

/* Modal CSS */
/* Icons */
.twitter{
    color: #0D6EFD;
    margin-right: 2px;
}
.instagram{
    color: #DC3545;
    margin-right: 2px;
}
.whatsapp{
    color: #198754;
    margin-right: 2px;
}
.facebook{
    color: #0DCAF0;
    margin-right: 2px;
}
.linkedin{
    color: #0D6EFD;
    margin-right: 2px;
}